{% extends "_layout.html" %}
{% import "component/forms.njk" as forms %}

{# 样式代码 #}
{% block style %}
<link href="/css/plugins/iCheck/custom.css" rel="stylesheet">
{% endblock %}

{# bodyd代码#}
{% block body %}
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>添加留言</h5>

                </div>
                <div class="ibox-content">
                    <form class="form-horizontal m-t from" id="form" action="/guestbook/edit" method="post" data-href="/guestbook">
                    	{{ forms.hidden('id', data.id) }}
						{{ forms.label('类型', 'type', data.type, '请输入类型', 'required') }}
						<div class="form-group">
                            <label class="col-xs-12 col-sm-3 col-md-2 control-label">type：</label>
                            <div class="col-sm-8 col-xs-12">
                                <p class="form-control-static">
                                    {% if data.type == 1 %}问题
                                    {% elif data.type == 2 %}私人定制
                                    {% elif data.type == 3 %}企业定制
                                    {% else %}错误
                                    {% endif %}
                                </p>
                            </div>
                        </div>
						{{ forms.label('姓名', data.name) }}
						{{ forms.label('电话', data.mobile) }}
						{{ forms.label('电子邮箱', data.email) }}
						{{ forms.label('内容', data.content) }}
						{% if data.type == 1 %}
                            {% if data.status == 1 %}
                            {{ forms.textarea('回复', 'reply', data.reply, '请输入回复内容', 'required') }}
                            {{ forms.submit() }}
                            {% else %}
                            {{ forms.label('回复', data.reply) }}
                            {% endif %}
                        {% endif %}

                    </form>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{#js代码#}
{% block js %}
<script>
    $(function () {
        var e = "";
        $("#form").validate({
            rules: {
                type: "required",
                status: "required",
                name: "required",
                mobile: "required",
                email: "required",
                content: "required",
                createTime: "required",
            },
            messages: {
                type: {
                    required: e + "请输入类型"
                },
                status: {
                    required: e + "请输入状态"
                },
                name: {
                    required: e + "请输入姓名"
                },
                mobile: {
                    required: e + "请输入电话"
                },
                email: {
                    required: e + "请输入电子邮箱"
                },
                content: {
                    required: e + "请输入内容"
                },
                createTime: {
                    required: e + "请输入创建时间"
                },
            },
            submitHandler: function() {
              asyncSubmitForm($("#form"));
            }
        });

    });
</script>

{% endblock %}