{% extends "_layout.html" %}
{% import "component/pagination.njk" as pagination %}
{% import "component/table.njk" as table %}
{% import "component/search.njk" as search %}

{# 样式代码 #}
{% block style %}

{% endblock %}

{# bodyd代码#}
{% block body %}
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-12">
                            <form class="page-search-form">
                                {{ search.select('是否热销', 'isRecommend', [{
                                id: '1',
                                name: '是'
                                },{
                                id: '0',
                                name: '否'
                                }], params.isRecommend) }}
                                <div class="col-sm-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">商品分类</span>
                                        <select class="form-control m-b" name="productCategoryId">
                                            <option value="">全部</option>
                                            {% for item in productCategory %}
                                            <option value="{{ item.value }}" {{'selected' if item.value == params.productCategoryId else ''}}>{{ item.text }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                {{ search.text('名称', 'name', params.name, true) }}
                            </form>
                            <div class="col-sm-2">
                                <div class="ibox-tools">
                                    <a href="/product/edit" class="btn btn-info btn-xm">添加商品</a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="table-responsive">
                        <form id="table-form">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>产品名称</th>
                                    <th>图片</th>
                                    <!--<th>产品图片</th>-->
                                    <th>销售价格</th>
                                    <th>市场价格</th>
                                    <th>库存</th>
                                    <th>商品分类</th>
                                    <th>添加时间</th>
                                    <th>操作</th>
                                </tr>

                                </thead>
                                <tbody>
                                {% for item in data.list %}

                                <tr>
                                    <td>
                                        <input type="checkbox" value="{{ item.id }}" class="i-checks" name="check">
                                    </td>
                                    <td width="100">{{ item.name }}</td>



                                    <td class="image">
                                        <a href="/product/edit?id={{ item.icon }}"><img alt="image" class="image"
                                                                                        src="{{ ctx.helper.showImage(item.url, 50, 50, 'fixed') }}"></a>
                                    </td>

                                    <!--<td class="image">-->
                                        <!--<a href="/product/edit?id={{ item.icon2 }}"><img alt="image" class="image"-->
                                                                                      <!--src="{{ ctx.helper.showImage(item.images, 50, 50, 'fixed') }}"></a>-->
                                    <!--</td>-->


                                    <td>￥{{ item.fixPrice }}</td>
                                    <td>￥{{ item.marketPrice }}</td>


                                    <td>{{ item.inventory }}</td>
                                    <td width="100">{{ item.productCategoryName }}</td>


                                    <td>{{ item.createTime }}</td>
                                    <td data-id="{{ item.id }}">
                                        <a href="/product/edit?id={{item.id}}">编辑</a>
                                        <a class="del" data-id="{{ item.id }}" data-href="/product/delete">删除</a>
                                    </td>
                                </tr>
                                {% else %}
                                暂无数据
                                {% endfor %}
                                </tbody>
                            </table>
                        </form>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="btn-region clearfix">
                        <div class="pull-left">
                            <button href="" id="batch-del-btn" class="btn btn-danger btn-sm js-batch"
                                    data-url="/module/delete" data-confirm="确定删除选中的商品吗?" data-original-title=""
                                    title="">批量删除
                            </button>
                        </div>
                        <div class="pull-right">
                            {{ pagination.pagination(data, params, '/module') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}

{#js代码#}
{% block js %}
<script>


</script>

{% endblock %}
