{% extends "_layout.html" %}
{% import "component/forms.njk" as forms %}

{# 样式代码 #}
{% block style %}
<link href="/css/plugins/iCheck/custom.css" rel="stylesheet">
{% endblock %}

{# bodyd代码#}
{% block body %}
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>商户审核</h5>

                </div>
                <div class="ibox-content">
                    <form class="form-horizontal m-t from" id="form" action="/merchant/audit" method="post" data-href="/merchant">
                    	{{ forms.hidden('id', data.id) }}
                        {{ forms.readonly('姓名', data.name) }}
                        {{ forms.readonly('店铺名称',data.storeName) }}

                        <div class="form-group">
                            <label class="col-sm-2 control-label">状态 :&nbsp;</label>
                            <div class="col-sm-8">
                                <select class="form-control m-b" name="status">
                                    <option value="1" {{
                                    'selected' if data.status == 1 }}>正常</option>
                                    <option value="2" {{
                                    'selected' if data.status == 2 }}>补充资料</option>
                                    <option value="3" {{
                                    'selected' if data.status == 3 }}>待审核</option>
                                    <option value="4" {{
                                    'selected' if data.status == 4 }}>审核不通过</option>
                                </select>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-2 control-label">所属行业:&nbsp;</label>
                            <div class="col-sm-8">
                                <select class="form-control m-b" name="type">
                                    <option value="1" {{
                                    'selected' if data.type == 1 }}>酒店</option>
                                    <option value="2" {{
                                    'selected' if data.type == 2 }}>餐饮</option>
                                    <option value="3" {{
                                    'selected' if data.type == 3 }}>娱乐</option>
                                    <option value="4" {{
                                    'selected' if data.type == 4 }}>旅游</option>
                                    <option value="5" {{
                                    'selected' if data.type == 4 }}>特产</option>
                                </select>
                            </div>
                        </div>


                        <label class="col-sm-2 control-label">身份证正面：&nbsp;</label>
                        <img class="img-responsive" src="{{ ctx.helper.showImage(data.idCard, 100, 100, 'fixed') }}">
                        <label class="col-sm-2 control-label">身份证正面：&nbsp;</label>
                        <img class="img-responsive" src=" {{ ctx.helper.showImage(data.idCardNegative, 100, 100, 'fixed') }}">
                        <label class="col-sm-2 control-label">营业执照：&nbsp;</label>
                        <img class="img-responsive" src="{{ ctx.helper.showImage(data.businessLicense, 100, 100, 'fixed') }}">
                        <label class="col-sm-2 control-label">店铺照片：&nbsp;</label>
                        <img class="img-responsive" src="{{ ctx.helper.showImage(data.storeImage, 100, 100, 'fixed') }}">

                        {{ forms.radios('审核意见:', 'authCode', [{text: '通过', value: 1}, {text: '拒绝', value: 0}]) }}
                        {{ forms.text('审核结果', 'authResult', data.authResult, '如果审核未通过，请输入拒绝原因') }}
                        {{ forms.submit() }}



                    </form>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{#js代码#}
{% block js %}
<script>
    $(function () {
        var e = "";
        $("#form").validate({
            rules: {
                linkName: "required",
                username: {
                    required: true
                },
                mobile: {
                    required: true
                },
                userType: "required",
                sex: "required",
            },
            messages: {
                linkName: {
                    required: e + "请输入姓名"
                },
                username: {
                    required: e + "请输入用户名",
                    remote: '用户已经存在'
                },
                mobile: {
                    required: e + "请输入手机号"
                },
                userType: {
                    required: e + "请输入类型 1.管理员 2.员工 "
                },
                sex: {
                    required: e + "请输入性别"
                },
            },
            submitHandler: function() {
              asyncSubmitForm($("#form"));
            }
        });

    });
</script>
    <script>

    </script>
{% endblock %}